<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:include=":: #pageTitle">TWITREE</title>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/getReplies.js}"></script>
</head>

<body>
<div th:fragment="header">
    <form class="form-horizontal" role="form" method="POST" action="#" th:action="@{/}">
        <p>Enter Tweet ID or URL: <input type="text" name="tweetId">
        <input type="submit" value="THREAD" name="pressed">
        <input type="submit" value="DISCUSSION" name="pressed"></p>
    </form>
</div>

<div th:fragment="tweet" th:object="">

</div>

</body>
</html>